

# Project: Investigate a TMDb movie dataset (21Nov17)

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction


Questions for research
- Per actor, what is the avg box office earning of films he has acted in. 
- per actor, what is the avg rating of movies he has acted in. 
- highest rated genres per yearbins, highest box office earning genres per year.

In [1]:
# Use this cell to set up import statements for all of the packages that you
#   plan to use.

import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np
import pandas as pd
import seaborn as sns
import time

<a id='wrangling'></a>
## Wrangling

you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [2]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.

tmdb_df = pd.read_csv('tmdb-movies.csv')
len(tmdb_df)
tmdb_df.iloc[:1, 10:]
#cast, director, production companies, keywords, genres
#

,keywords,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09

<h3>PROBLEM 1</h3>

In [3]:
#tmdb_df.duplicated('id')
df = tmdb_df
df[df.duplicated(['id'], keep=False)]  #row 2089 and 2090 have same content . id = 42194

#delete 2090
df.drop(2090, inplace=True) #row has been deleted.
len(df)  #new length - 10865

10865

<h3>PROBLEM 2</h3>
We see that its string type. We need to convert it to python date type.

Checking what is the type stored in 'release_date' column

In [ ]:
type(df['release_date'][2])

<h3>PROBLEM 3</h3>
We see that the 'cast' column has string data separated by '|'. We would want them to be in list form. We can use .split() for this. 
Same for 'genres', 'production_companies' and 'keywords'

In [ ]:
print(df['cast'][4])


<h3>PROBLEM 4<h3>

In [4]:
tmdb_df.iloc[0:2, 14:].head()

,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

Problem 2 - fixing
changing str to date type

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

In [ ]:


def parsedate(string):
    return time.strptime(string, '%x')

parsedate('10/02/92')

df['release_date'] = df['release_date'].apply(parsedate)

PROBLEM -3 fixing
Making | separated string values, into a list of strings

In [5]:
def isnan(f):
    return isinstance(f, float) and f!=f

a: 1960 - 1969
b: 1970 - 1979
c: 1980 - 1989
d: 1990 - 1999
e: 2000 - 2009
f: 2010 - 2019

In [6]:
#check if release_year has nans
assert len(df[df.release_year.apply(isnan)]) == 0 # returned 0rows x 24 columns --> no nan values

#new column - year_bin a,b,c,d,e,f 
def yearbins(year):
    
    if 1960 <= year <= 1969:
        return 'a'
    if 1970 <= year <= 1979:
        return 'b'
    if 1980 <= year <= 1989:
        return 'c'
    if 1990 <= year <= 1999:
        return 'd'
    if 2000 <= year <= 2009:
        return 'e'
    if 2010 <= year <= 2019:
        return 'f'

df['year_bin']=df.release_year.apply(yearbins)

In [7]:
#cast, director, keywords, genres, production companies --> make into set
    

def splitstringtoset(string):
    newset = set()
    if isnan(string):
            return string
    
    else:
        for q in [x.strip() for x in string.split('|')]:
            newset.add(q)
    return newset

df.cast=df.cast.apply(splitstringtoset)
df.director=df.director.apply(splitstringtoset)
df.keywords = df.keywords.apply(splitstringtoset)
df.genres = df.genres.apply(splitstringtoset)
df.production_companies = df.production_companies.apply(splitstringtoset)



#cast, director, keywords, genres, production companies

<a id='eda'></a>
## Exploration

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Q1
### Which genres are most popular from year to year? 
highest rated genres per year, highest box office earning genres per year.

Algo:
for each yearbin of 10 years
take all genres appearing in all movies in that yearbin. 
for each genre, find the avg rating and avg. (revenue_adj - budget_adj), of all the movies that contain that genre tag.

In [ ]:
df.cast.iloc[0]

In [27]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.
#Algo:
#for each year bin
#take all genres appearing in all movies that year. -> add into allgenres_yeaer. dict with key as year. 
#and value as dict of genres. 


#for each genre, find the avg rating and avg. (revenue_adj - budget_adj), of all the movies that contain that genre tag. 

gb_yearbin= df.groupby('year_bin')

allgenres_yearbin = {} #all genres seen in a yearbin. key value pairs
allgenres=set() #all genres of movives

for yearbin, year_df in gb_yearbin:
    

    
        
    def splitcsv(list):
        if(isnan(list)):
            pass
        
        else:
            for x in list:
                allgenres.add(x)
                try:
                    allgenres_yearbin[yearbin].add(x)
                except KeyError:
                    allgenres_yearbin[yearbin]={x}
    
    
    year_df.genres.apply(splitcsv) #populating all genres and allgenres_year

In [26]:
print len(allgenres_yearbin['a'])
print len(allgenres_yearbin['b'])
print len(allgenres_yearbin['c'])
print len(allgenres_yearbin['d'])
print len(allgenres_yearbin['e'])
print len(allgenres_yearbin['f'])

20
20
20
20
20
20

In [90]:
index = list(allgenres)
columns = ['a','b','c','d','e','f']
#genre yearbin rating
gyr_df = pd.DataFrame(index = index, columns=columns)
gyr_df.head()

numberofoccurences_genre = pd.DataFrame(index = index, columns = columns)
numberofoccurences_genre

             a    b    c    d    e    f
Romance    NaN  NaN  NaN  NaN  NaN  NaN
Horror     NaN  NaN  NaN  NaN  NaN  NaN
Drama      NaN  NaN  NaN  NaN  NaN  NaN
Adventure  NaN  NaN  NaN  NaN  NaN  NaN
Action     NaN  NaN  NaN  NaN  NaN  NaN
Comedy     NaN  NaN  NaN  NaN  NaN  NaN
Thriller   NaN  NaN  NaN  NaN  NaN  NaN

In [91]:
#for gyr_df --> the ratings for genres we are studying across year bins
# we are filling values in this cell

for yearbin, yearbin_df in gb_yearbin:
    
    
    
    for i in list(genresbeingstudied): #for each genre we are analysing
        
        
        def ifinset(sett):
            if(isnan(sett)):
                #print(sett)
                return False
            for eachgenre in sett:
                if eachgenre == i:
                    return True
            return False

        gyr_df.loc[i,yearbin] = np.nanmean(yearbin_df[yearbin_df.genres.apply(ifinset)]['vote_average'])
        #numberofoccurences_genre.loc[i,yearbin] = len(yearbin_df[yearbin_df.genres.apply(ifinset)])

In [112]:
#find average rating of the genresbeingstudied across the whole of df


avg_rating_of_genresbeingstudied_list = []

for i in list(genresbeingstudied):
    
    def ifinset(sett):
            if(isnan(sett)):
                #print(sett)
                return False
            for eachgenre in sett:
                if eachgenre == i:
                    return True
            return False
    
    avg_rating_of_genresbeingstudied_list.append(np.nanmean(df[df.genres.apply(ifinset)]['vote_average']))
    
avg_rating_of_genresbeingstudied_list
thelist = [ ['sentence 1'], ['sentence 2'], ['sentence 3'] ]
 = pd.Series(avg_rating_of_genresbeingstudied_list )

AttributeError: 'Series' object has no attribute 'genres'

In [113]:
df

0    6.042874
1    5.337447
2    6.165546
3    5.940585
4    5.787752
5    5.905167
6    5.750671
dtype: float64

In [100]:
#printing gyr_df and checking if we have the right ratings for genres across the year bins

gyr_df

                 a        b        c        d        e        f
Romance    6.17612  6.38039  6.07257  6.07302  5.94139  6.09371
Horror     6.06809  6.09038  5.76471  5.46984  5.25785  5.01047
Drama      6.37083  6.51255  6.25697  6.22181   6.1244  6.07047
Adventure     6.25  6.32078    6.048  5.81636  5.82984  6.00027
Action     6.04231  6.37107  5.93199   5.7767  5.74462  5.65354
Comedy     6.15398  6.41148  6.02173  5.91303   5.7791  5.92936
Thriller   6.32812  6.34797  5.99538  5.89596  5.71969  5.51161

In [ ]:
for yearbin, year_df in gb_yearbin:
    
    
    
    for i in allgenres_yearbin[yearbin]: #for each genre in that year
        
        cnt = 0
        
        def ifinset(sett):
            if(isnan(sett)):
                #print(sett)
                return False
            for eachgenre in sett:
                if eachgenre == i:
                    return True
            return False
        
        def genrecounter(set):
            if i in set:
                cnt +=1
            
            
            
        
        

        gyr_df.loc[i,yearbin] = np.nanmean(year_df[year_df.genres.apply(ifinset)]['vote_average'])
        #numberofoccurences_genre.loc[i,yearbin] = len(year_df[year_df.genres.apply(ifinset)])

In [89]:
#Taking top 5 genres across bins, and adding it into a set, so that we can use that set for our analysis

genresbeingstudied = set()

for bins in ['a','b','c','d','e','f']:
    for genre in pd.to_numeric(numberofoccurences_genre[bins]).nlargest(5).index.values:
        genresbeingstudied.add(genre)


genresbeingstudied

{'Action', 'Adventure', 'Comedy', 'Drama', 'Horror', 'Romance', 'Thriller'}

In [97]:
#find average rating of movies in a,b,c,d,e,f yearbins

gb_yearbin['vote_average'].mean()  # we see that the average rating of movies across yearbin have decreaed in a constant manner. 
#lets save it into a dictionary
'''
avg_rating_allmovies_yearbins = gb_yearbin['vote_average'].mean()
avg_rating_allmovies_yearbins
corrected_gyr = (gyr_df-avg_rating_allmovies_yearbins)
#(corrected_gyr.a).nlargest(2)


for i in ['a','b','c','d','e','f']:
    print pd.to_numeric(corrected_gyr[i]).nlargest(5)
    print '\n'
'''

gb_yearbin['vote_average'].mean() #avg of all movies in that particular year bin 
gyr_df
gyr_df-gb_yearbin['vote_average'].mean()

year_bin
a    6.246133
b    6.367323
c    6.079398
d    5.999263
e    5.921224
f    5.902996
Name: vote_average, dtype: float64
                 a        b        c        d        e        f
Romance    6.17612  6.38039  6.07257  6.07302  5.94139  6.09371
Horror     6.06809  6.09038  5.76471  5.46984  5.25785  5.01047
Drama      6.37083  6.51255  6.25697  6.22181   6.1244  6.07047
Adventure     6.25  6.32078    6.048  5.81636  5.82984  6.00027
Action     6.04231  6.37107  5.93199   5.7767  5.74462  5.65354
Comedy     6.15398  6.41148  6.02173  5.91303   5.7791  5.92936
Thriller   6.32812  6.34797  5.99538  5.89596  5.71969  5.51161

                   a           b          c          d          e          f
Romance   -0.0700132   0.0130693 -0.0068265  0.0737571  0.0201662   0.190712
Horror     -0.178047   -0.276938  -0.314692  -0.529422  -0.663373  -0.892523
Drama       0.124701    0.145229   0.177576   0.222546   0.203172   0.167479
Adventure  0.0038674  -0.0465436 -0.0313979    -0.1829 -0.0913821  0.0972715
Action     -0.203825  0.00375155  -0.147413   -0.22256  -0.176609  -0.249456
Comedy    -0.0921503   0.0441526  -0.057669 -0.0862377  -0.142125  0.0263593
Thriller   0.0819924  -0.0193499 -0.0840133  -0.103304  -0.201532   -0.39139

In [39]:
#find top 5 genres, and last 5 genres, in order across year bins. 

#find number of movies in each genre in each bins. 
for i,j in gb_yearbin:
    print i
    print j.release_year

a
9719     1968
9720     1968
9721     1968
9722     1968
9723     1968
9724     1968
9725     1968
9726     1968
9727     1968
9728     1968
9729     1968
9730     1968
9731     1968
9732     1968
9733     1968
9734     1968
9735     1968
9736     1968
9737     1968
9738     1968
9739     1968
9740     1968
9741     1968
9742     1968
9743     1968
9744     1968
9745     1968
9746     1968
9747     1968
9748     1968
         ...
10836    1966
10837    1966
10838    1966
10839    1966
10840    1966
10841    1966
10842    1966
10843    1966
10844    1966
10845    1966
10846    1966
10847    1966
10848    1966
10849    1966
10850    1966
10851    1966
10852    1966
10853    1966
10854    1966
10855    1966
10856    1966
10857    1966
10858    1966
10859    1966
10860    1966
10861    1966
10862    1966
10863    1966
10864    1966
10865    1966
Name: release_year, dtype: int64
b
1329     1977
1330     1977
1331     1977
1332     1977
1333     1977
1334     1977
1335     1977
1336     1977
1337     1977
1338     1977
1339     1977
1340     1977
1341     1977
1342     1977
1343     1977
1344     1977
1345     1977
1346     1977
1347     1977
1348     1977
1349     1977
1350     1977
1351     1977
1352     1977
1353     1977
1354     1977
1355     1977
1356     1977
1357     1977
1358     1977
         ...
10790    1978
10791    1978
10792    1978
10793    1978
10794    1978
10795    1978
10796    1978
10797    1978
10798    1978
10799    1978
10800    1978
10801    1978
10802    1978
10803    1978
10804    1978
10805    1978
10806    1978
10807    1978
10808    1978
10809    1978
10810    1978
10811    1978
10812    1978
10813    1978
10814    1978
10815    1978
10816    1978
10817    1978
10818    1978
10819    1978
Name: release_year, dtype: int64
c
6081     1985
6082     1985
6083     1985
6084     1985
6085     1985
6086     1985
6087     1985
6088     1985
6089     1985
6090     1985
6091     1985
6092     1985
6093     1985
6094     1985
6095     1985
6096     1985
6097     1985
6098     1985
6099     1985
6100     1985
6101     1985
6102     1985
6103     1985
6104     1985
6105     1985
6106     1985
6107     1985
6108     1985
6109     1985
6110     1985
         ...
10563    1986
10564    1986
10565    1986
10566    1986
10567    1986
10568    1986
10569    1986
10570    1986
10571    1986
10572    1986
10573    1986
10574    1986
10575    1986
10576    1986
10577    1986
10578    1986
10579    1986
10580    1986
10581    1986
10582    1986
10583    1986
10584    1986
10585    1986
10586    1986
10587    1986
10588    1986
10589    1986
10590    1986
10591    1986
10592    1986
Name: release_year, dtype: int64
d
2409     1999
2410     1999
2411     1999
2412     1999
2413     1999
2414     1999
2415     1999
2416     1999
2417     1999
2418     1999
2419     1999
2420     1999
2421     1999
2422     1999
2423     1999
2424     1999
2425     1999
2426     1999
2427     1999
2428     1999
2429     1999
2430     1999
2431     1999
2432     1999
2433     1999
2434     1999
2435     1999
2436     1999
2437     1999
2438     1999
         ...
10368    1993
10369    1993
10370    1993
10371    1993
10372    1993
10373    1993
10374    1993
10375    1993
10376    1993
10377    1993
10378    1993
10379    1993
10380    1993
10381    1993
10382    1993
10383    1993
10384    1993
10385    1993
10386    1993
10387    1993
10388    1993
10389    1993
10390    1993
10391    1993
10392    1993
10393    1993
10394    1993
10395    1993
10396    1993
10397    1993
Name: release_year, dtype: int64
e
1386    2009
1387    2009
1388    2009
1389    2009
1390    2009
1391    2009
1392    2009
1393    2009
1394    2009
1395    2009
1396    2009
1397    2009
1398    2009
1399    2009
1400    2009
1401    2009
1402    2009
1403    2009
1404    2009
1405    2009
1406    2009
1407    2009
1408    2009
1409    2009
1410    2009
1411    2009
1412    2009
1413    2009
1414    2009
1415    2009
        ...
8858    2000
8859    2000
8860    2000
8861    2000
8862    2000
8863    2000
8864    2000
8865    2000
8866    2000
8867    2000
8868    2000
8869    2000
8870    2000
8871    2000
8872    2000
8873    2000
8874    2000
8875    2000
8876    2000
8877    2000
8878    2000
8879    2000
8880    2000
8881    2000
8882    2000
8883    2000
8884    2000
8885    2000
8886    2000
8887    2000
Name: release_year, dtype: int64
f
0       2015
1       2015
2       2015
3       2015
4       2015
5       2015
6       2015
7       2015
8       2015
9       2015
10      2015
11      2015
12      2015
13      2015
14      2015
15      2015
16      2015
17      2015
18      2015
19      2015
20      2015
21      2015
22      2015
23      2015
24      2015
25      2015
26      2015
27      2015
28      2015
29      2015
        ...
6051    2013
6052    2013
6053    2013
6054    2013
6055    2013
6056    2013
6057    2013
6058    2013
6059    2013
6060    2013
6061    2013
6062    2013
6063    2013
6064    2013
6065    2013
6066    2013
6067    2013
6068    2013
6069    2013
6070    2013
6071    2013
6072    2013
6073    2013
6074    2013
6075    2013
6076    2013
6077    2013
6078    2013
6079    2013
6080    2013
Name: release_year, dtype: int64

In [ ]:
df[['cast','director','keywords','genres','production_companies']]

In [ ]:
#add new column - 'profit_adj' : 

df['profit_adj']=df.revenue_adj.sub(df.budget_adj, axis=0)

In [ ]:
#add new column - 'roi_adj'

df['roi_adj']=(df.profit_adj.div(df.budget_adj)).mul(100)
df.roi_adj

In [ ]:
idk = (df.profit_adj > 100000000)

In [ ]:
df.iloc[0]

### q2 - steamy

In [ ]:
What kinds of properties are associated with movies that have high revenues?

# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!